body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'PT Sans', Georgia, sans-serif;
}

.layout {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.row {
    padding: 5px 20px;
}

.row.flexslider {
    margin: 0.67em 0;
}

#gallery {
    margin: 15px 0;
}

footer p { font-size: 0.8em; }
